<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-refererchecker" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>RefererChecker</name>
  <js-module name="RefererChecker" src="www/RefererChecker.js">
    <clobbers target="cordova.plugins.RefererChecker" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="RefererChecker">
        <param name="android-package" value="cordova-plugin-refererchecker.RefererChecker" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/RefererChecker.java" target-dir="src/cordova-plugin-refererchecker/RefererChecker" />
  </platform>
</plugin>